.design-index {
    display: flex;
    background-color: #16113a;
    margin: 0;
    flex-direction: column;

    @media screen and (min-width: 850px) {
        flex-direction: row;
    }
}

.logo {
    max-height: 50px;
}

.design-index__logo-container {
    width: 100vw;
    align-self: center;
    padding: 4rem;

    img {
        max-width: 35vw;
        display: block;
        margin: 0 auto;
    }

    @media screen and (min-width: 850px) {
        width: 60vw;
        padding: 0;
    }

    @media screen and (min-width: 1000px) {
        width: 70vw;
    }

    @media screen and (min-width: 2000px) {
        width: 73vw;
    }
}