.info {
    border: 3px solid #16113a;
    border-radius: 6px;
    position: relative;
    padding: 0 1.5rem;
    margin: 2rem 0;
    font-weight: bold;
    display: inline-block;
}

.info-icon {
    position: absolute;
    top: -5px;
    left: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 44px;
}