.page-style {
    display: flex;
    background-color: white;
    margin: 0;
    flex-direction: column;

    @media screen and (min-width: 850px) {
        flex-direction: row;
    }
}

.content-container {
    width: 100vw;
    margin: 2rem;

    @media screen and (min-width: 850px) {
        width: 60vw;
        padding: 0;
        margin: 0;
    }

    @media screen and (min-width: 1000px) {
        width: 70vw;
        padding: 4rem 0 0 6rem;
    }

    @media screen and (min-width: 2000px) {
        width: 73vw;
    }
}

.full-width-img {
    width: 80%;

    @media screen and (min-width: 1000px) {
        margin-bottom: 3rem;
        max-width: 1000px;
    }
}

.inline-img {
    width: 80%;
    margin: 2rem 0;

    @media screen and (min-width: 1000px) {
        max-width: 680px;

    }
}

.page-text-wrapper {
    max-width: 680px;
}