---
layout: colour
---

<link href="{{ site.url }}/css/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/ahh7sni.css">


<body class="page-style">

    <div class="nav-container">
        <a href="/index" class="">
            <img src="/assets/img/logo-geckoboard-colour.png" class="logo">
        </a>


        <div class="nav">
    
            <img class="logo"></img>
            <h1>Guidelines</h1>
            <span>Our brand system is composed               
                of eight core elements
            </span>
    
            <ul>
                <li class="nav-link">
                    <a href="/logo" class="nav-link">
                        <p class="nav-link__text">Logo</p>
                    </a>
                </li>
                <li class="nav-link--active">
                      <p class="">Colour</p>
                </li>
                <li class="nav-link">
                    <a href="/iconography" class="nav-link">
                        <p class="nav-link__text">Iconography</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/curve" class="nav-link">
                        <p class="nav-link__text">The curve</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/typography" class="nav-link">
                        <p class="nav-link__text">Typography</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/illustration" class="nav-link">
                        <p class="nav-link__text">Illustration</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/tone" class="nav-link">
                        <p class="nav-link__text">Tone of voice</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/photography" class="nav-link">
                        <p class="nav-link__text">Photography</p>
                    </a>
                </li>
    
            </ul>
    
        </div>

    </div>

    <div class="content-container colour-palette">

        <div class="page-text-wrapper">

            <h2>Colour</h2>

            <h3>Our palette</h3>

            <p>
                Our palette uses bright, bold colours. For that reason, 
                muted, faded, pastels and transparencies don’t work.
            </p>
            <p>
                We have a main palette of three colours that are to 
                always be used in the first instance. Secondary colours 
                are used to inject more personality and design, in 
                special cases such as illustration, or when using 
                colour to differentiate (categories), but only when 
                you need more than the main brand colours. 
            </p>
            <p>
                Sticking to the Big Three first ensures our brand 
                remains strong 💪🏼

            </p>

            <h3>Brand colours</h3>

            <ul class="colour-list">
                <li>
                    <p> <span>Geckoboard black</span>
                    Used as background colour, lines (in illustrations) and copy
                    </p>
                </li>
                <li>
                    <p> <span>Geckoboard green</span>
                        Used for logo, buttons and hover states (not to be used for copy)
                    </p>
                </li>
                <li>
                    <p> <span>Geckoboard blue</span>
                        Used to guide the user, think highlights, blobs...
                    </p>
                </li>
            </ul>

            </div>

            <ul class="colour-list">

                <li class="colour">
                    <div class="colour__swatch geckoboard-black"></div>
                    <div class="colour__details">
                        <span>Geckoboard black</span>
                        <p>#16113a</p>
                    </div>
                </li>

                <li class="colour">
                    <div class="colour__swatch geckoboard-green"></div>
                    <div class="colour__details">
                        <span>Geckoboard green</span>
                        <p>#0FD355</p>
                    </div>
                </li>

                <li class="colour">
                    <div class="colour__swatch geckoboard-blue"></div>
                    <div class="colour__details">
                        <span>Geckoboard blue</span>
                        <p>#00D1FF</p>
                    </div>
                </li>

            </ul>

            <div class="page-text-wrapper">

                <h3>Secondary colours</h3>

                <ul class="colour-list">
                    <li>
                        <p> <span>Geckoboard white</span>
                        Only ever used as copy colour when on a 'Geckoboard black' background
                        </p>
                    </li>
                    <li>
                        <p> <span>Geckoboard green</span>
                            Used for logo, buttons and hover states (not to be used for copy)
                        </p>
                    </li>
                </ul>
    
            </div>
    
                <ul class="colour-list">
    
                    <li class="colour">
                        <div class="colour__swatch colour__swatch--border geckoboard-white"></div>
                        <div class="colour__details">
                            <span>Geckoboard white</span>
                            <p>#e9e7f9</p>
                        </div>
                    </li>
    
                    <li class="colour">
                        <div class="colour__swatch colour__swatch--border geckoboard-grey"></div>
                        <div class="colour__details">
                            <span>Grey</span>
                            <p>#f8f8f9</p>
                        </div>
                    </li>
    
                </ul>

                <div class="page-text-wrapper">

                <p>We have three secondary colours. These are saved for
                     more playful pages where we’d like to inject 
                     more personality and design. </p>    
        
                </div>

                <ul class="colour-list">
    
                    <li class="colour">
                        <div class="colour__swatch yellow"></div>
                        <div class="colour__details">
                            <span>Yellow</span>
                            <p>#ffd339</p>
                        </div>
                    </li>
    
                    <li class="colour">
                        <div class="colour__swatch mint"></div>
                        <div class="colour__details">
                            <span>Mint</span>
                            <p>#3cd3d3</p>
                        </div>
                    </li>

                    <li class="colour">
                        <div class="colour__swatch pink"></div>
                        <div class="colour__details">
                            <span>Pink</span>
                            <p>#ff97aa</p>
                        </div>
                    </li>
    
                </ul>

                <div class="page-text-wrapper">

                    <h3>Tertiary colours</h3>


                    {% 
                        include components/info.html
                        content=page.info-tertiary.content 
            
                    %} 
            
                    </div>
    
                    <ul class="colour-list">
        
                        <li class="colour">
                            <div class="colour__swatch orange"></div>
                            <div class="colour__details">
                                <span>Orange</span>
                                <p>#FFB039</p>
                            </div>
                        </li>
        
                        <li class="colour">
                            <div class="colour__swatch purple"></div>
                            <div class="colour__details">
                                <span>Purple</span>
                                <p>#CC9AF3</p>
                            </div>
                        </li>
    
                        <li class="colour">
                            <div class="colour__swatch green"></div>
                            <div class="colour__details">
                                <span>Green</span>
                                <p>#6CE4C7</p>
                            </div>
                        </li>

                            
                        <li class="colour">
                            <div class="colour__swatch royal-blue"></div>
                            <div class="colour__details">
                                <span>Royal blue</span>
                                <p>#4B9DE9</p>
                            </div>
                        </li>
        
                    </ul>
    



</body>