---
layout: curve
---

<link href="{{ site.url }}/css/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/ahh7sni.css">


<body class="page-style">

    <div class="nav-container">
        <a href="/index" class="">
            <img src="/assets/img/logo-geckoboard-colour.png" class="logo">
        </a>


        <div class="nav">
    
            <img class="logo"></img>
            <h1>Guidelines</h1>
            <span>Our brand system is composed               
                of eight core elements
            </span>
    
            <ul>
                <li class="nav-link">
                    <a href="/logo" class="nav-link">
                        <p class="nav-link__text">Logo</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/colour" class="nav-link">
                        <p class="nav-link__text">Colour</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/iconography" class="nav-link">
                        <p class="nav-link__text">Iconography</p>
                    </a>
                </li>
                <li class="nav-link--active">
                    <p class="">The curve</p>
                </li>
                <li class="nav-link">
                    <a href="/typography" class="nav-link">
                        <p class="nav-link__text">Typography</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/illustration" class="nav-link">
                        <p class="nav-link__text">Illustration</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/tone" class="nav-link">
                        <p class="nav-link__text">Tone of voice</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/photography" class="nav-link">
                        <p class="nav-link__text">Photography</p>
                    </a>
                </li>
    
            </ul>
    
        </div>

    </div>

    <div class="content-container colour-palette">

        <div class="page-text-wrapper">

            <h2>The 'curve'</h2>

            <p>
                Continuing our theme of rounded corners and edges, 
                we’ve made use of the curve of the ‘g’ descender to 
                guide the eye down the page.
            </p>

            <p>
                It's best to only be able to see one curve at any given time.
            </p>
        

        </div>
            
        <img src="/assets/img/curve-example.png" class="full-width-img">

    </div>

</body>