---
layout: home
title: none
---

<link rel="stylesheet" href="/css/main.css">

<body>

    <div class="design-index">

        <div class="design-index__nav">
    
            <img class="logo"></img>
            <h1>Guidelines</h1>
            <span>Our brand system is composed               
                of eight core elements
            </span>
    
            <ul class="design-index__nav-items">
                <li class="design-index__nav-items__item">Logo</li>
                <li class="design-index__nav-items__item">Colour</li>
                <li class="design-index__nav-items__item">Iconography</li>
                <li class="design-index__nav-items__item">The curve</li>
                <li class="design-index__nav-items__item">Typography</li>
                <li class="design-index__nav-items__item">Illustration</li>
                <li class="design-index__nav-items__item">Tone of voice</li>
                <li class="design-index__nav-items__item">Photography</li>
    
            </ul>
    
        </div>
    
    </div>

</body>