---
layout: home
title: none
---

<link href="{{ site.url }}/css/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/ahh7sni.css">


<body class="design-index">


        <div class="nav-container nav-container--white">

            <img src="assets/img/logo-geckoboard-colour.png" class="logo">

            <div class="nav">
        
                <img class="logo"></img>
                <h1>Guidelines</h1>
                <span>Our brand system is composed               
                    of eight core elements
                </span>
        
                <ul>
                    <li>
                        <a href="/logo" class="nav-link">
                            <p class="nav-link__text">Logo</p>
                        </a>
                    </li>
                    <li>
                        <a href="/colour" class="nav-link">
                            <p class="nav-link__text">Colour</p>
                        </a>
                    </li>
                    <li>
                        <a href="/iconography" class="nav-link">
                            <p class="nav-link__text">Iconography</p>
                        </a>
                    </li>
                    <li>
                        <a href="/curve" class="nav-link">
                            <p class="nav-link__text">The curve</p>
                        </a>
                    </li>
                    <li>
                        <a href="/typography" class="nav-link">
                            <p class="nav-link__text">Typography</p>
                        </a>
                    </li>
                    <li>
                        <a href="/illustration" class="nav-link">
                            <p class="nav-link__text">Illustration</p>
                        </a>
                    </li>
                    <li>
                        <a href="/tone" class="nav-link">
                            <p class="nav-link__text">Tone of voice</p>
                        </a>
                    </li>
                    <li>
                        <a href="/photography" class="nav-link">
                            <p class="nav-link__text">Photography</p>
                        </a>
                    </li>
        
                </ul>
        
            </div>
    
        </div>

        <div class="design-index__logo-container">
            <img src="assets/img/dark-bg-logo.svg" class="">

        </div>

</body>
