---
layout: iconography
---

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://use.typekit.net/ahh7sni.css">


<body class="page-style">

    <div class="nav-container">
        <a href="/index" class="">
            <img src="/assets/img/logo-geckoboard-colour.png" class="logo">
        </a>


        <div class="nav">
    
            <img class="logo"></img>
            <h1>Guidelines</h1>
            <span>Our brand system is composed               
                of eight core elements
            </span>
    
            <ul>
                <li class="nav-link">
                    <a href="/logo" class="nav-link">
                        <p class="nav-link__text">Logo</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/colour" class="nav-link">
                        <p class="nav-link__text">Colour</p>
                    </a>
                </li>
                <li class="nav-link--active">
                    <p>Iconography</p>
                </li>
                <li class="nav-link">
                    <a href="/curve" class="nav-link">
                        <p class="nav-link__text">The curve</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/typography" class="nav-link">
                        <p class="nav-link__text">Typography</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/illustration" class="nav-link">
                        <p class="nav-link__text">Illustration</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/tone" class="nav-link">
                        <p class="nav-link__text">Tone of voice</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/photography" class="nav-link">
                        <p class="nav-link__text">Photography</p>
                    </a>
                </li>
    
            </ul>
    
        </div>

    </div>

    <div class="content-container colour-palette">

        <div class="page-text-wrapper">

            <h2>Iconography</h2>

            <p>
                Large (above 16px) icons always appear in a ‘blob’. 
                Icons use rounded corners and shapes. Most icons can 
                be found on Font Awesome but sometimes we need to make 
                something more bespoke.
            </p>
            <p>
                Icons should be used to help add meaning, not be the only 
                way to show meaning. 
             </p>
             <p>
                For example: 
             </p>

        </div>
            
        <img src="/assets/img/iconography-example.png" class="full-width-img">

    </div>


</body>