---
layout: illustration
---

<link href="{{ site.url }}/css/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/ahh7sni.css">


<body class="page-style">

    <div class="nav-container">
        <a href="{{ site.url }}/index" class="">
            <img src="assets/img/logo-geckoboard-colour.png" class="logo">
        </a>


        <div class="nav">
    
            <img class="logo"></img>
            <h1>Guidelines</h1>
            <span>Our brand system is composed               
                of eight core elements
            </span>
    
            <ul>
                <li class="nav-link">
                    <a href="{{ site.url }}/logo" class="nav-link">
                        <p class="nav-link__text">Logo</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{{ site.url }}/colour" class="nav-link">
                        <p class="nav-link__text">Colour</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{{ site.url }}/iconography" class="nav-link">
                        <p class="nav-link__text">Iconography</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{{ site.url }}/curve" class="nav-link">
                        <p class="nav-link__text">The curve</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{{ site.url }}/typography" class="nav-link">
                        <p class="nav-link__text">Typography</p>
                    </a>
                </li>
                <li class="nav-link--active">
                    <p class="">Illustration</p>
                </li>
                <li class="nav-link">
                    <a href="{{ site.url }}/tone" class="nav-link">
                        <p class="nav-link__text">Tone of voice</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{{ site.url }}/photography" class="nav-link">
                        <p class="nav-link__text">Photography</p>
                    </a>
                </li>
    
            </ul>
    
        </div>

    </div>

    <div class="content-container">

        <div class="page-text-wrapper">

            <h2>Illustrations</h2>

            <p>
                We wanted a unique style for our illustrations: 
                something that suited our ethos of being welcoming, 
                and non-corporate. 
 
            </p>

            <p>
                To summarise our illustration style:

            </p>

            <ul>
                <li>
                    - White background
                </li>
                <li>
                    - Thick, bold lines
                </li>
                <li>
                    - A "drawn" and "human" style
                </li>
                <li>
                    - Use brand secondary colours to add colour
                </li>
                <li>
                    - We encourage colouring outside the lines to add more personality 

                </li>
                <li>
                    - Make use of the blob to add interest
                </li>

            </ul>

        </div>

        <h3>Examples:</h3>
        <img src="assets/img/illustration-with-blob.png" class="inline-img">
        <img src="assets/img/illustration-plant.png" class="inline-img">

    </div>


</body>