---
layout: logo
---

<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
<link rel="stylesheet" href="https://use.typekit.net/ahh7sni.css">


<body class="page-style">

    <div class="nav-container">
        <a href="/index" class="">
            <img src="/assets/img/logo-geckoboard-colour.png" class="logo">
        </a>


        <div class="nav">
    
            <img class="logo"></img>
            <h1>Guidelines</h1>
            <span>Our brand system is composed               
                of eight core elements
            </span>
    
            <ul>
                <li class="nav-link--active">
                    <p class="">Logo</p>
                </li>
                <li class="nav-link">
                    <a href="/colour" class="nav-link">
                        <p class="nav-link__text">Colour</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/iconography" class="nav-link">
                        <p class="nav-link__text">Iconography</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/curve" class="nav-link">
                        <p class="nav-link__text">The curve</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/typography" class="nav-link">
                        <p class="nav-link__text">Typography</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/illustration" class="nav-link">
                        <p class="nav-link__text">Illustration</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/tone" class="nav-link">
                        <p class="nav-link__text">Tone of voice</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/photography" class="nav-link">
                        <p class="nav-link__text">Photography</p>
                    </a>
                </li>
    
            </ul>
    
        </div>

    </div>

    <div class="content-container">

        <div class="page-text-wrapper">

            <h2>Logo</h2>

            <h3>Full logo</h3>

            {% 
                include components/info.html
                content=page.info-wordmark.content 

            %}

        </div>

        <img src="/assets/img/logo-geckoboard-colour--big.png" class="full-width-img">


        <div class="page-text-wrapper">

            <h3>Social logos</h3>

            <p>Used for profile images</p>

            <h4>Logo for use on light backgrounds:</h4>
            <img src="/assets/img/light-bg-logo.png" class="inline-img">
            {% 
                include components/info.html
                content=page.info-light-logo.content 

            %}

            <h4>Logo for use on dark backgrounds:</h4>
            <p>i.e when used on a 'Geckoboard black' background</p>

            <img src="/assets/img/dark-bg-logo.svg" class="inline-img">

            <h3>Link to source files</h3>
            <p>We also have round versions</p>

            <p>Everything is in <a class="inline-link" href="https://drive.google.com/drive/u/0/folders/1FGmfbSZALmPwwfPKNF27ZuNVZn6Eywkr">here.</a></p
        </div>
    </div>

</body>