---
layout: photography
---

<link href="{{ site.url }}/css/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/ahh7sni.css">


<body class="page-style">

    <div class="nav-container">
        <a href="/index" class="">
            <img src="assets/img/logo-geckoboard-colour.png" class="logo">
        </a>


        <div class="nav">
    
            <img class="logo"></img>
            <h1>Guidelines</h1>
            <span>Our brand system is composed               
                of eight core elements
            </span>
    
            <ul>
                <li class="nav-link">
                    <a href="/logo" class="nav-link">
                        <p class="nav-link__text">Logo</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/colour" class="nav-link">
                        <p class="nav-link__text">Colour</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/iconography" class="nav-link">
                        <p class="nav-link__text">Iconography</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/curve" class="nav-link">
                        <p class="nav-link__text">The curve</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/typography" class="nav-link">
                        <p class="nav-link__text">Typography</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/illustration" class="nav-link">
                        <p class="nav-link__text">Illustration</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/tone" class="nav-link">
                        <p class="nav-link__text">Tone of voice</p>
                    </a>
                </li>
                <li class="nav-link--active">
                    <p class="">Photography</p>
              </li>
    
            </ul>
    
        </div>

    </div>

    <div class="content-container">

        <div class="page-text-wrapper">

            <h2>Photography</h2>

            <p>
                Photography with bright colours work best for our 
                website, for reasons stated above; our brand colours 
                are strong so washed out colours clash.
 
            </p>

            <p>
                Can try to brighten on Photoshop. 

            </p>

        </div>

        <h3>Examples:</h3>
        <img src="assets/img/bad-photo.png" class="inline-img"> vs
        <img src="assets/img/brighter-photo.png" class="inline-img">

    </div>

</body>