---
layout: tone
---

<link href="{{ site.url }}/css/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/ahh7sni.css">


<body class="page-style">

    <div class="nav-container">
        <a href="/index" class="">
            <img src="assets/img/logo-geckoboard-colour.png" class="logo">
        </a>


        <div class="nav">
    
            <img class="logo"></img>
            <h1>Guidelines</h1>
            <span>Our brand system is composed               
                of eight core elements
            </span>
    
            <ul>
                <li class="nav-link">
                    <a href="{{ site.url }}/logo" class="nav-link">
                        <p class="nav-link__text">Logo</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{{ site.url }}/colour" class="nav-link">
                        <p class="nav-link__text">Colour</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{{ site.url }}/iconography" class="nav-link">
                        <p class="nav-link__text">Iconography</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{{ site.url }}/curve" class="nav-link">
                        <p class="nav-link__text">The curve</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{{ site.url }}/typography" class="nav-link">
                        <p class="nav-link__text">Typography</p>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{{ site.url }}/illustration" class="nav-link">
                        <p class="nav-link__text">Illustration</p>
                    </a>
                </li>
                <li class="nav-link--active">
                    <p>Tone of voice</p>
                </li>
                <li class="nav-link">
                    <a href="{{ site.url }}/photography" class="nav-link">
                        <p class="nav-link__text">Photography</p>
                    </a>
                </li>
    
            </ul>
    
        </div>

    </div>

</body>